.ant-tabs {
	border: 1px solid #d4dbe3;
	border-radius: 4px;
}

.reset-password {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 425px;
	margin: auto;
	padding: 147px 0;
}

.button-container {
	margin-top: 20px;
}

.clipboard-input {
	position: absolute;
	top: -10000px;
}

.textCenter {
	text-align: center;
}

.ant-select-dropdown {
	width: auto !important;
}

h1.header {
	font-size: 36px;
	padding: 0;
	margin: 0;
	line-height: 1;
}

.ant-select-selector,
.search-input {
	border-radius: 3px !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	padding-left: 20px;
	padding-right: 20px;
}

.user-details-container {
	display: flex;
	width: 100%;
	background: #30994b;
	background: #e2efe6;
	justify-content: space-around;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 33px;
	margin-top: 34px;
}

p.detail-headers {
	font-size: 12px;
	font-weight: bold;
}

p.detail-desc {
	font-size: 16px;
	font-weight: 100;
}
