@import "./theme.less";

.he-order-details {
  background: #f5faf6;
  border-radius: 5px;
  width: 70%;
  justify-content: center;
  margin: auto;
  margin-top: 40px;

  .ant-card-body {
    padding: 30px;
  }

  .detail-info {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #colors[black];
    text-transform: capitalize;
  }

  .detail-title {
    color: #colors[black];
    font-family: Mulish;
    font-style: normal;
    font-weight: bolder;
    font-size: 13px;
    line-height: 150%;
    text-transform: uppercase;
  }

  .delivery-wrapper {
    margin: 20px 0px 20px 0px;
  }

  .payment-details {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    color: #30994b;
    padding-bottom: 20px;
  }
}

.qty-divider {
  margin-top: 4em;
}

.product-list-wrapper {
  width: 70%;
  margin: auto;

  .product-list-col {
    border-bottom: 1px solid #d4dbe3;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .product-name {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    color: #colors[black];
  }

  .product-price {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    color: #colors[black];
  }
}

span.item-table-details {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 400px;
  display: inline-block;
}
